---
import { Image } from "astro:assets";
import heroImage from "../assets/ss-hero.png";
import TicketCard from "../components/TicketCard.astro";
import Layout from "../layouts/Layout.astro";

const eventTitle = "Ave Mujica 武道館LIVE Nostri Noctis";
const eventPlace = "日本武道館 （東京都　千代田区）";
---

<Layout title={eventTitle}>
  <div class=":uno: mb-12">
    <h1 class=":uno: text-3xl font-medium leading-tight mb-2">{eventTitle}</h1>
    <div class=":uno: text-blue-500 leading-tight mb-1">{eventPlace}</div>
    <div class=":uno: text-lg leading-tight">
      2025/XX/XX（土）開場 XX:XX / 開演 XX:XX
    </div>
  </div>

  <div
    class=":uno: bg-slate-200 sm:py-8 mb-12 flex items-center justify-center"
  >
    <div class=":uno: relative">
      <Image
        class=":uno: block w-full max-w-120"
        src={heroImage.src}
        width={heroImage.width / 2}
        height={heroImage.height / 2}
        densities={[1.5, 2]}
        quality="high"
        alt="Hero Image"
      />
      <div
        class=":uno: absolute bottom-0 right-0 px-4 py-2 text-white text-sm opacity-80"
      >
        &copy; BanG Dream! Project
      </div>
    </div>
  </div>

  <h2 class=":uno: text-lg font-bold mb-4">チケット情報</h2>

  <div class=":uno: flex flex-col gap-8">
    <TicketCard name="最速先行抽選" type="抽選" />
    <TicketCard name="一般発売" type="先着" />
  </div>
</Layout>
