<div class=":uno: h-20"></div>
<footer
  class=":uno: bg-gray-800 text-white fixed inset-[auto_0_0_0] h-20 flex flex-col justify-center items-center"
>
  <div class=":uno: mx-auto flex flex-col items-center gap-2">
    <div class=":uno: leading-tight">&copy; Ticket Forever Japan 2025</div>
    <div class=":uno: leading-tight text-xs opacity-70">
      非公式のファンサイトです。チケットの販売はしておりません。
    </div>
  </div>
</footer>
