<header class=":uno: w-full bg-rose-900 text-white">
  <div
    class=":uno: mx-auto max-w-4xl h-24 flex items-center justify-between gap-8 px-8 sm:px-4"
  >
    <div class=":uno: flex-none text-2xl font-thin font-logo">
      <span class=":uno: font-black">T</span>icket
      <span class=":uno: font-black">F</span>orever
    </div>
    <div class=":uno: flex-1 flex flex-col gap-2 <sm:hidden">
      <div class=":uno: font-bold text-sm">
        チケットの購入なら Ticket Forever
      </div>
      <div
        class=":uno: rounded-sm border-gray-400 bg-gray-100 text-black w-full max-w-88 h-8 px-4 flex items-center"
      >
        <span class=":uno: size-4 i-si-search"></span>
        <span class=":uno: opacity-60">イベント名、アーティスト名で検索</span>
      </div>
    </div>
    <div class=":uno: flex-none flex flex-col gap-2 items-end">
      <div class=":uno: text-sm font-bold">ログイン中</div>
      <div class=":uno: text-base">
        <span class=":uno: border-b inline-block">
          <ruby>千早<rp>(</rp><rt>チハヤ</rt><rp>)</rp></ruby>
          <ruby>愛音<rp>(</rp><rt>アノン</rt><rp>)</rp></ruby>
        </span>
        様
      </div>
    </div>
  </div>
</header>
