---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title?: string;
  og?: {
    description: string;
    image: string;
  };
}

const { title, og } = Astro.props;

const pageTitle = title ? `${title} - Ticket Forever` : "Ticket Forever";
---

<!doctype html>
<html lang="ja" class=":uno: bg-slate-100">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content={pageTitle} />
    {
      og ? (
        <>
          <meta property="og:description" content={og.description} />
          <meta property="og:image" content={new URL(og.image, Astro.url)} />
        </>
      ) : (
        <meta
          property="og:description"
          content="Ticket Foreverは日本最大級のチケット予約・販売サイトを装った、非公式のファンサイトです。"
        />
      )
    }
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <div class=":uno: mx-auto max-w-4xl px-8 sm:px-4 py-4">
      <slot />
    </div>
    <Footer />
  </body>
</html>
